body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   align-content: space-between;
   margin-top:auto;
   background-color: grey;
 }
 .hero-img {

     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

     height: 50%;
     background-position: center;
     background-repeat:no-repeat;
     background-size: cover;
     position: relative;
     filter: blur(2px);
     -webkit-filter: blur(2px);

 }

 .hero-text {

    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    cursor:crosshair;
}

button {
  background-color:#669999;
   border: none;
   color: white;
   padding: 10px 10px;
   text-align: center;
   font-size: 16px;
   margin: 4px 2px;
   opacity: 0.6;
   transition: 0.3s;
   display: inline-block;
   text-decoration: none;
   cursor: pointer;

   float: middle;
     border: 1px solid white
}

.arkiv {
  background-color: #29a3a3
}

.projekt {
  background-color: #7575a3
}


.mer:hover {opacity: 1}


.arkiv:hover {opacity: 1}

.projekt:hover {opacity: 1}
